<div class="main-section main-section--narrow">
  <div id="tagnav" class="tagnav" {{#if tag}}data-tag="{{tag.name}}"{{/if}}>
    <a class="btn btn-tag" href="{{@blog.url}}">All</a>
    <a class="btn btn-tag" href="{{@blog.url}}/tag/research">Research</a>
    <a class="btn btn-tag" href="{{@blog.url}}/tag/prototype">Prototype</a>
    <a class="btn btn-tag" href="{{@blog.url}}/tag/visual">Visual</a>
    <a class="btn btn-tag" href="{{@blog.url}}/tag/code">Code</a>
    <a class="btn btn-tag" href="{{@blog.url}}/tag/tool">Tool</a>
  </div>
</div>
