<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <script src="//use.typekit.net/vql6jzx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

</head>
<body class="{{body_class}}">
      <div class="divider"></div>
      <div id="sidebar" class="sidebar">
        {{> sidebar}}
      </div>
      <div id="main" class="main">
        {{{body}}}
      </div>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script src="{{asset "js/jquery.sticky-kit.min.js"}}"></script>
    <script src="{{asset "js/script.js"}}"></script>
</body>
</html>
